@import url("bootstrap.min.css");

video {
	position: fixed;
	top: 25%;
	left: 25%;
	min-width: 100%;
	min-height: 100%;
	width: 90vw;
	height: 80vh;
	z-index: -100;
	transform: translateX(-25%) translateY(-25%);
	background: #ffffff;
	background-size: contain;
	transition: 1s opacity;
}

section {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	text-align: center;
}

article {
	width: 100vw;
}

nav {
	padding: 4em;
}

button {
	background: transparent;
	border: 3px solid #373A3C;
	font-size: 1.5em;
	padding: 10px;
	line-height: 1.2;
	font-weight: bold;
}

footer {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
}

footer img {
	width: 200px;
	margin: 10px;

	
}

@media (min-width: 768px) {
	footer img {
		margin: 20px;
	}
}

h1 {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #E8E8E8;
    padding: .25em;
}

.flex {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.flex {
		flex-direction: row;
	}
}

.flex div {
	flex: 1;
	padding: 0 5px 5px;
}

p {
	margin: 0;
}

a {
	color: #EC661E;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
a:hover {
	color: #DA4C00;
}

@media (min-width: 768px) {
	.phone, .email {
		font-size: 1.4em;
	}
}